<section class="bg-gray-50 py-8 antialiased dark:bg-gray-900 md:py-16">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <!-- Title -->
    <div class="mb-4 gap-4 md:mb-8">
      <h2
        class="text-4xl text-center font-semibold text-gray-900 dark:text-white sm:text-3xl uppercase"
      >
        All Deals' categories
      </h2>
    </div>
    <!-- End Title -->

    <!-- "Add a Category" Button -->
    <div
      (click)="onAddNewClick()"
      class="flex justify-between items-center rounded-lg border-4 bg-blue-600 p-4 text-white hover:bg-blue-800 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 cursor-pointer mb-4 transition-colors duration-300 ease-in-out"
    >
      <div class="title-icon mx-auto">
        <span class="flex items-center gap-2"
          ><i class="fa-solid fa-plus-circle"></i>
          <span class="text-xl font-medium text-white">
            Add a new Category</span
          >
        </span>
      </div>
    </div>
    <!--END "Add a Category" Button -->
    <!-- Add new category form -->

    @if(addIsEnabled){
    <app-add-new-category
      (addIsEnabledChanged)="handleAddIsEnabledChange($event)"
    ></app-add-new-category>
    }

    <!--END Add new category form -->

    <!-- For loop -->
    <div class="grid gap-4 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3">
      @if(categoriesList.length ===0){
      <p>No Categories were found</p>
      } @else { @for (category of categoriesList; track category.id) {

      <!-- Loop Item -->
      <div>
        <div class="category-item">
          <div class="title-icon">
            <a
              href="/categories/{{ category.id }}"
              class="flex items-center gap-2"
              ><i class="fa-solid {{ category.icon }}"></i>
              <span class="text-sm font-medium text-gray-900 dark:text-white">{{
                category.name
              }}</span>
            </a>
          </div>
          <!-- Update/Delete Buttons -->
          <div class="crud">
            <button
              (click)="onUpdateClick(category.id)"
              type="button"
              class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-md text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
            >
              update
            </button>

            <button
              (click)="onDeleteClick(category.id)"
              type="button"
              class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-md text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
            >
              Delete
            </button>
          </div>

          <!-- END Update/Delete Buttons -->
        </div>
        <!-- UPDATE FORM -->
        <form
          [formGroup]="updateForm"
          id="update-form-{{ category.id }}"
          class="update-form border-2 border-green-800 px-6 py-2 hidden"
        >
          <h3 class="text-center py-3">Update category: {{ category.name }}</h3>
          <div class="update-form-inputs flex gap-2">
            <div>
              <label
                for="input-group-icon"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >font-Awesome Icon <i class="fa-solid {{ selectedIcon }}"></i>
              </label>

              <div class="relative mb-2">
                <div
                  class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    class="w-4 h-4 text-gray-500 dark:text-gray-400"
                    viewBox="0 0 512 512"
                  >
                    <!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path
                      d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336l24 0 0-64-24 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l48 0c13.3 0 24 10.7 24 24l0 88 8 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-80 0c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
                    />
                  </svg>
                </div>

                <select
                  [(ngModel)]="selectedIcon"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  name="cat-update-icon"
                  id="cat-update-icon"
                  formControlName="cat-update-icon"
                >
                  @for (icon of fontAwIcons; track $index) {
                  <option value="{{ icon }}">
                    {{ icon }}
                  </option>
                  }
                </select>
              </div>
              @if(updateForm.get('cat-update-icon')?.invalid &&
              updateForm.get('cat-update-icon')?.touched){
              <span class="text-xs text-red-900 mb-2 block"
                >Icon must be selected</span
              >
              }
            </div>
            <div class="">
              <label
                for="input-group-name"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >New category name</label
              >
              <div class="relative mb-2">
                <div
                  class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                >
                  <svg
                    class="w-4 h-4 text-gray-500 dark:text-gray-400"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 448 512"
                  >
                    <!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path
                      d="M0 80L0 229.5c0 17 6.7 33.3 18.7 45.3l176 176c25 25 65.5 25 90.5 0L418.7 317.3c25-25 25-65.5 0-90.5l-176-176c-12-12-28.3-18.7-45.3-18.7L48 32C21.5 32 0 53.5 0 80zm112 32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
                    />
                  </svg>
                </div>
                <input
                  type="text"
                  formControlName="cat-update-name"
                  name="cat-update-name"
                  id="input-group-name"
                  class="form-update-input"
                  placeholder="Category"
                />
              </div>
              @if(updateForm.get('cat-update-name')?.invalid &&
              updateForm.get('cat-update-name')?.touched){
              <p class="text-xs text-red-900 mb-2 block">
                Category name is required.
              </p>
              }
            </div>
          </div>

          <div class="update-buttons flex justify-around">
            @if (updateForm.invalid) {
            <button
              type="button"
              class="text-gray-200 bg-gray-500 focus:ring-4 font-medium rounded-md text-sm px-5 py-2.5 text-center me-2 mb-2 cursor-not-allowed"
            >
              update
            </button>
            }@else {
            <button
              (click)="onUpdateConfirm(category.id, updateForm.value)"
              type="submit"
              class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-md text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
            >
              update
            </button>
            }

            <button
              (click)="OnCancelClick(category.id)"
              type="button"
              class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-md text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
      <!-- END Loop Item -->
      }
      <!-- End For loop -->

      }
    </div>
  </div>
</section>
