<section class="container mx-auto">
  <div class="container flex items-center justify-center">
    @if (user()?.role === "ADMIN") {
    <button
      (click)="onAddButtonClick()"
      type="button"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-md shadow-sm text-lg px-10 py-2.5 me-2 mb-2 focus:outline-none mt-4"
    >
      <div class="title-icon mx-auto">
        <span class="flex items-center gap-2"
          ><i class="fa-solid fa-plus-circle"></i>
          <span class="text-xl font-medium text-white"> Add a new Store</span>
        </span>
      </div>
    </button>
    }
  </div>
  @if (addIsEnabled) {
  <app-add-store-form (cancelAdd)="onCancelClick($event)" />
  }
  <app-store-tabbed-menu />
</section>
