<footer class="bg-white rounded-lg shadow m-4">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 flex flex-col md:flex-row md:items-center md:justify-between items-center"
  >
    <span class="text-sm text-gray-500 sm:text-center"
      >© 2025 <a href="" class="hover:underline">Deals Site</a>. All Rights
      Reserved.
    </span>
    <span
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-center text-gray-500 sm:mt-0"
    >
      Created by : &nbsp;
      <a href="https://github.com/aggepap" class="hover:underline">
        Aggelos Papanagiotou</a
      >
    </span>
  </div>
</footer>
