<!-- Hero Section -->
<section class="bg-gradient-to-r from-blue-500 to-indigo-600 text-white">
  <div
    class="container mx-auto flex flex-col-reverse lg:flex-row items-center justify-between px-6 py-12 lg:py-18"
  >
    <!-- Text Content -->
    <div class="lg:w-1/2 space-y-6">
      <h1 class="text-4xl md:text-5xl font-extrabold leading-tight">
        Get the Best <span class="text-yellow-400">Deals</span> of the Year!
      </h1>
      <p class="text-lg md:text-xl">
        Save big on your favorite products with unbeatable discounts and offers.
      </p>
      <div class="flex space-x-4">
        <a
          routerLink="/deals"
          class="bg-blue-800 hover:bg-blue-700 text-white py-3 px-6 rounded-lg text-lg font-semibold transition-colors duration-300 ease-in-out"
        >
          Explore Deals
        </a>
        <a
          routerLink="/deals/add"
          class="bg-yellow-500 hover:bg-yellow-700 text-white py-3 px-6 rounded-lg text-lg font-semibold transition-colors duration-300 ease-in-out"
        >
          Add a Deal
        </a>
      </div>
    </div>

    <!-- Hero Image -->
    <div class="lg:w-2/5 lg:mb-0">
      <img
        src="./hero.webp"
        alt="Deals Illustration"
        class="w-full h-auto shadow-lg rounded-lg"
      />
    </div>
  </div>
</section>
