@if (isLoading) {
<app-loading-spinner></app-loading-spinner>
}@else{
<div
  class="max-w-lg mx-auto"
  [ngClass]="{
    'border-8 p-4 border-green-700': addProductSuccessMessage  &&
    !addProductForm.get('addProductName')?.touched,
   
  }"
>
  <form [formGroup]="addProductForm" class="max-w-sm mx-auto my-10">
    <h1 class="font-bold text-3xl mx-auto mb-10">Add New Deal</h1>

    <fieldset class="border-2 border-gray-300 p-4 rounded-lg">
      <legend
        class="text-lg font-medium text-gray-700 px-2 py-1 bg-white rounded-lg border border-gray-300 shadow-sm"
      >
        Product:
      </legend>
      <div class="mb-5">
        <label
          for="addProductCategory"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Choose a Category*</label
        >
        @if(addProductForm.get('addProductCategory')?.invalid &&
        addProductForm.get('addProductCategory')?.touched){
        <p class="text-xs text-red-900 mb-2 block">
          Product category is required.
        </p>
        } @if (categoriesList.length > 0) {
        <select
          id="addProductCategory"
          formControlName="addProductCategory"
          class="form-select"
          required
        >
          @for (category of categoriesList; track category.id) {
          <option [value]="category.id">{{ category.name }}</option>
          }
        </select>
        }@else {
        <select class="form-select !bg-red-900 !text-white cursor-not-allowed">
          <option selected>Categories Could not be fetched</option>
        </select>
        }
      </div>
      <div class="mb-5">
        <label
          for="addProductName"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Product Title*</label
        >
        <input
          required
          type="text"
          id="addProductName"
          formControlName="addProductName"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Product Title"
          required
        />
        @if(addProductForm.get('addProductName')?.invalid &&
        addProductForm.get('addProductName')?.touched){
        <p class="text-xs text-red-900 mb-2 block">
          Product title is required.
        </p>
        }
      </div>
      <div class="mb-5">
        <label
          for="addProductDescription"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Product description*</label
        >
        <textarea
          id="addProductDescription"
          rows="4"
          formControlName="addProductDescription"
          class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
          placeholder="Product description"
          required
        ></textarea>
        @if(addProductForm.get('addProductDescription')?.invalid &&
        addProductForm.get('addProductDescription')?.touched){
        <p class="text-xs text-red-900 mb-2 block">
          Product description is required, please enter some info for the
          product
        </p>
        }
      </div>
      <div class="mb-5">
        <label
          class="block mb-2 text-sm font-medium text-gray-900"
          for="user_avatar"
          >Product image*</label
        >
        <input
          formControlName="addProductImage"
          (change)="checkFileType($event)"
          class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50"
          aria-describedby="product image"
          id="addProductImage"
          type="file"
          accept="image/*"
        />
        <div class="mt-1 text-sm text-gray-500" id="user_avatar_help">
          Please upload an image of the product
        </div>
        @if(!fileSelected){
        <p class="text-xs text-red-900 mb-2 block">
          Product image is required, please select an image(Allowed types:
          images/*)
        </p>
        }
      </div>
    </fieldset>
    <fieldset class="border-2 border-gray-300 p-4 rounded-lg">
      <legend
        class="text-lg font-medium text-gray-700 px-2 py-1 bg-white rounded-lg border border-gray-300 shadow-sm"
      >
        Deal:
      </legend>
      <div class="mb-5">
        <label
          for="addDealStore"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Choose a Store*</label
        >
        @if(addProductForm.get('addDealStore')?.invalid &&
        addProductForm.get('addDealStore')?.touched){
        <p class="text-xs text-red-900 mb-2 block">Deal's store is required.</p>
        } @if (storesList.length >0) {
        <select
          id="addDealStore"
          formControlName="addDealStore"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          required
        >
          @for (store of storesList; track store.id) {
          <option [value]="store.id">{{ store.name }}</option>
          }
        </select>
        }@else {
        <select
          id="addDealStore"
          class="bg-red-900 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed"
          required
        >
          <option selected>Stores Could Not Be Fetched</option>
        </select>
        }
      </div>
      <div class="mb-5">
        <label
          for="AddDealURL"
          class="block mb-2 text-sm font-medium text-gray-900"
          >URL*</label
        >
        <input
          required
          type="url"
          id="AddDealURL"
          formControlName="AddDealURL"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="URL Link for deal"
          required
        />
        @if(addProductForm.get('AddDealURL')?.invalid &&
        addProductForm.get('AddDealURL')?.touched){
        <p class="text-xs text-red-900 mb-2 block">Deal URL is required.</p>
        }
      </div>
      <div class="flex">
        <div class="mb-5 w-3/4">
          <label
            for="AddDealCoupon"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Coupon</label
          >
          <input
            required
            type="text"
            id="AddDealCoupon"
            formControlName="AddDealCoupon"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="Leave empty if no coupons is needed"
          />
        </div>

        <div class="mb-5 w-1/4">
          <label
            for="AddDealPrice"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Price in €*</label
          >
          <input
            required
            type="number"
            min="1"
            step="any"
            id="AddDealPrice"
            formControlName="AddDealPrice"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="0"
            required
          />

          @if(addProductForm.get('AddDealPrice')?.invalid &&
          addProductForm.get('AddDealPrice')?.touched){
          <p class="text-xs text-red-900 mb-2 block">Deal Price is required.</p>
          }
        </div>
      </div>
    </fieldset>
    <div class="mt-5">
      @if (addProductForm.get("addProductDescription")?.invalid ||
      addProductForm.get("addProductName")?.invalid || !fileSelected) {

      <button
        type="submit"
        class="text-gray-200 bg-gray-500 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center cursor-not-allowed"
      >
        Submit
      </button>
      }@else {
      <button
        (click)="onNewProductAdd(addProductForm.value)"
        type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
      >
        Submit
      </button>
      }
    </div>
  </form>
</div>
}
