@if(isError){
<app-error-message [message]="errorMessage"></app-error-message>
}@else{
<div class="md:flex pt-10">
  <ul
    class="flex-column space-y space-y-1 text-sm font-medium bg-blue-700 rounded-md py-5 text-gray-500 md:me-4 mb-4 md:mb-0"
  >
    <li class="text-center pb-2 text-white font-bold">Καταστήματα:</li>
    @for (entry of storeList; track entry.id) {
    <li>
      <a
        (click)="onStoreClick(entry.id)"
        href="javascript:"
        class="flex items-center justify-start pl-4 pr-10 py-3 text-white bg-blue-700 hover:bg-blue-900 active w-11/12 xl:w-full mx-auto gap-2"
        aria-current="page"
      >
        @if(entry.logo){
        <img
          class="rounded-full border-2"
          src="{{ apiURL }}/uploads/{{ entry.logo.savedName }}"
          width="20px"
          height="20px"
          alt="{{ entry.name }} logo"
        />
        }@else{
        <img
          class="rounded-full border-2"
          src="store.png"
          width="20px"
          height="20px"
          alt="{{ entry.name }} logo"
        />
        }
        <span>{{ entry.name }}</span>
      </a>
    </li>
    }
  </ul>
  <div
    class="p-6 bg-gray-50 text-medium text-gray-500 rounded-lg w-full flex flex-col"
  >
    @if (pickedStore){
    <div class="text-center">
      <h3 class="text-3xl font-semibold text-gray-900 mb-2">
        {{ pickedStore.name }}
      </h3>
      <a href="{{ pickedStore.siteURL }}"
        >Visit {{ pickedStore.name }}'s website</a
      >
    </div>
    <app-store-single-tab [storeInfo]="pickedStore" />
    }@else {
    <div class="text-center">
      <h3 class="text-lg font-bold text-gray-900 mb-2">
        Please select a store
      </h3>
    </div>
    }
  </div>
</div>
}
