@if (isLoading) {
<app-loading-spinner />
}@else { @if(hasError) {
<app-product-not-found (productId)="(productId)" />
}@else{ @if (product) {

<!-- Breadcrumbs -->

<nav
  class="flex max-w-screen-xl px-3 md:px-20 mx-auto 2xl:px-0 bg-white py-6"
  aria-label="Breadcrumb"
>
  <ol
    class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse"
  >
    <li class="inline-flex items-center">
      <a
        routerLink="/"
        class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white"
      >
        <svg
          class="w-3 h-3 me-2.5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"
          />
        </svg>
        Home
      </a>
    </li>
    <li>
      <div class="flex items-center">
        <svg
          class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 9 4-4-4-4"
          />
        </svg>
        <a
          routerLink="/deals"
          class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white"
          >Deals</a
        >
      </div>
    </li>
    <li>
      <div class="flex items-center">
        <svg
          class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 9 4-4-4-4"
          />
        </svg>
        <a
          routerLink="/categories/{{ product.category.id }}"
          class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white"
          >{{ product.category.name }}</a
        >
      </div>
    </li>
    <li aria-current="page">
      <div class="flex items-center">
        <svg
          class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 9 4-4-4-4"
          />
        </svg>
        <span
          class="ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400"
          >{{ product.name }}</span
        >
      </div>
    </li>
  </ol>
</nav>

<!-- Breadcrumbs -->
@if (user()?.role === "ADMIN") {

<!-- Admin Menu -->
<div class="flex flex-col items-center justify-center">
  <div class="rounded-md shadow-sm py-5" role="group">
    <button
      (click)="enableProductEdit()"
      type="button"
      class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-transparent border border-gray-900 rounded-s-lg hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white"
    >
      <i class="fa-solid fa-pen-to-square pr-2"></i>
      Edit Product
    </button>

    <button
      (click)="onDeleteProductClick()"
      type="button"
      class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-transparent border border-gray-900 rounded-e-lg hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white"
    >
      <i class="fa-solid fa-circle-minus pr-2"></i>
      Delete Product
    </button>
  </div>

  @if(editProductIsEnabled) {
  <div class="">
    <app-update-product-form [product]="product" />
  </div>
  }
</div>
<!-- Admin Menu -->
}
<section class="mb-6 pt-4 bg-white antialiased">
  <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
    <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
      <div class="shrink-0 max-w-md lg:max-w-lg mx-auto">
        @if (product.image) {
        <img
          class="w-full"
          [src]="apiUrl + '/uploads/' + product.image.savedName"
          alt=""
        />
        }@else{
        <img class="w-full" src="product.webp" alt="" />
        }
      </div>
      <div>
        <div
          class="mt-6 sm:mt-8 lg:mt-0 text-center md:justify-start justify-center flex gap-4"
        >
          <a
            routerLink="/categories/{{ product.category.id }}"
            class="bg-black text-white px-4 py-2 rounded-md hover:bg-gray-800 transition-colors duration-300"
          >
            {{ product.category.name }}
          </a>
          <a
            (click)="onStoreClick(product.store.id)"
            [routerLink]="['/stores', product.store.id]"
          >
            <p
              class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-800 transition-colors duration-300"
            >
              {{ product.store.name }}
            </p>
          </a>
        </div>
        <hr class="mb-4 mt-1 border-gray-200" />
        <div class="mt-6 sm:mt-8 lg:mt-0">
          <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl">
            {{ product.name }}
          </h1>
          <div class="mt-4 sm:items-center sm:gap-4 sm:flex">
            <p class="text-2xl font-extrabold text-gray-900 sm:text-3xl">
              @if (product.price !== 0) {
              {{ product.price }}€ }@else { Free }
            </p>
          </div>

          <div class="mt-4 sm:items-center sm:gap-4 sm:flex">
            @if(product.coupon){
            <span
              (click)="onCouponClick(product.coupon)"
              class="text-lg text-gray-900 border-2 border-dashed border-green-500 hover:border-green-900 rounded-md px-3 py-2 cursor-pointer transition-colors duration-300"
            >
              {{ product.coupon }}
            </span>
            @if(couponClicked){
            <span class="italic text-sm text-green-900"
              >Coupon code copied!</span
            >
            } } @else {

            <p class="text-lg text-gray-900">No Coupon Needed</p>
            }
          </div>

          <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
            <a
              href="{{ product.url }}"
              title=""
              class="text-white mt-4 sm:mt-0 bg-blue-600 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none flex items-center justify-center"
              role="button"
              target="_blank"
            >
              <svg
                class="w-5 h-5 -ms-2 me-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 4h1.5L8 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm.75-3H7.5M11 7H6.312M17 4v6m-3-3h6"
                />
              </svg>

              Buy Now
            </a>
          </div>

          <hr class="my-6 md:my-8 border-gray-200" />

          <div class="container mx-auto p-4">
            <p class="mb-6 text-gray-500 break-words overflow-wrap">
              {{ product.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
} @else {
<app-product-not-found />
} } }
